@import "src/styles";
.section.list-table-info {
  margin: $specMargin;
}

.column-name,
.data-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  border-bottom: 1px solid #e1ecc4;
  overflow-wrap: anywhere;

  > .column-element {
    padding: 1rem;
  }
}

.column-name {
  background-color: #f5f9e4;
}
