.column-name,
.data-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));

  > .column-element {
    border-top: 1px solid #e1ecc4;
    -webkit-text-stroke: 1fr #e1ecc4;
  }
}

.column-name {
  background-color: #f5f9e4;
}
