<div class="section table-info">
  <h1>Table</h1>

  <div class="column-name">
    <!-- put names of dynamic columns to here -->
    <div class="column-element" *ngFor="let columnName of columnNameAry">
      <h4>
        <!-- put name here -->
        {{ columnName }}
      </h4>
    </div>
  </div>

  <div class="data-row" *ngFor="let record of recordAry">
    <!-- put iteration of data here -->

    <div class="column-element" *ngFor="let recordElem of record">
      <p>
        <!-- put data here -->
        {{ recordElem }}
      </p>
    </div>
  </div>
</div>
