<div class="conversion-container">
  <div class="csv input">
    <h1>
      <label for="csv-input">CSV Data</label>
    </h1>
    <textarea id="csv-input" cols="30" rows="10"></textarea>
  </div>

  <div class="actions">
    <button class="convertion csv-to-json">
      Convert
      <span class="icon">
        <i class="fas fa-greater-than"></i>
      </span>
    </button>
  </div>

  <div class="json output">
    <h1>
      <label for="json-output">JSON Data</label>
    </h1>

    <textarea id="json-output" cols="30" rows="10"></textarea>
  </div>
</div>
