.conversion-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex: 1 1 auto;
  margin: 48px;

  .convertion.csv-to-json {
    font-size: 1.2rem;
    color: #9ac13b;
    font-weight: medium 500;
  }

  textarea {
    height: 150px;
    width: 100%;
  }

  .actions {
    margin: auto 24px;
  }

  button.convertion.csv-to-json {
    padding: 16px;

    > span.icon {
      margin-left: 8px;
    }
  }

  .input,
  .output {
    flex-grow: 2;
  }
}
