$specGreenColor: #9ac13b;

.conversion-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex: 1 1 auto;
  margin: 48px;

  .convertion.csv-to-json {
    font-size: 1.2rem;
    color: $specGreenColor;
    font-weight: medium 500;
  }

  textarea {
    height: 150px;
    width: 100%;
    border: 1px solid #d9d9d9;
    font-size: 1.2rem;
    color: rgba($color: #000, $alpha: 0.65);
    font-family: "Anonymous Pro";
    font-weight: 400;

    &:focus {
      border: 1px solid $specGreenColor;
      outline-color: $specGreenColor;
    }
  }

  .actions {
    margin: auto 24px;
  }

  button.convertion.csv-to-json {
    padding: 16px;
    font-size: 1.2rem;
    color: $specGreenColor;
    font-weight: medium 500;
    border-style: dashed;

    > span.icon {
      margin-left: 8px;
    }
  }

  .input,
  .output {
    flex-grow: 2;
  }
}
